.divpadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.producto{
    width: 250px;
    height: 350;
    background-color: $colorPrincipal ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    box-shadow: 13px 13px 24px 6px rgba(0,0,0,0.64);
    >img {
        width: 80%;
    }
    >a {
        background-color: $colorSecundario;
        width: 50%;
        padding: 10px 20px;
        border-radius: 3px;
        &:hover{
            color: $colorTerciario
        }
    }

}